/* 
    CSS reset
    The goal of a reset is to reduce browser inconsistencies in 
    things like default line heights, margins and font sizes of headings, 
    and so on.
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.4rem;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.6;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* 
    Global
*/
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

a {
  color: #000;
}

body p,
body a,
body li {
  font-size: 1.25rem;
}

.wm-banner h1 {
  font-size: 3.5rem;
}

body h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
}

.wm-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
}

.wm-grid-row {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 20px;
  overflow-wrap: anywhere;
}

.button {
  border: 1px solid #000;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 1em;
  display: inline-block;
  text-decoration: none;
}

.btn-inverse:hover {
  color: #fff;
  background: #000;
}

.wm-info-box h2 {
  margin-bottom: 15px;
}

.wm-info-box .button {
  margin-top: 25px;
  padding: 0.25em 3em;
}
/* 
    Header
*/
.wm-above-header-wrap {
  background: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wm-above-header-wrap .contact {
  text-align: right;
}

.wm-above-header-wrap .contact a {
  text-decoration: none;
}

.wm-main-header-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.wm-main-header-wrap .wm-logo {
  height: 70px;
}

.wm-main-nav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.wm-main-nav li {
  line-height: 70px;
}

.wm-main-nav a {
  text-decoration: none;
  padding: 0 1em;
  height: 100%;
  line-height: 70px;
  display: inline-block;
}

.wm-main-nav .button {
  border: 1px solid #000;
  line-height: 40px;
  border-radius: 4px;
}

.wm-main-nav .toggle-icon {
  line-height: 0;
  padding-right: 0;
}

.wm-main-nav .toggle-icon img {
  width: 15px;
  background: #f2f2f2;
  padding: 14px 16px;
  border-radius: 4px;
}

.wm-mobile-menu,
.wm-main-nav .toggle-icon {
  display: none;
}

/* 
    Home - Banner
*/
.home .wm-banner {
  background: url(/assets/images/8.-Ice-rink.jpg);
  background-size: cover;
  background-position: center bottom;
}

.home .wm-banner p {
  font-size: 1.5rem;
}

.home .wm-banner h1,
.home .wm-banner p {
  color: #fff;
  text-shadow: #000 1px 1px 0;
}

.home .wm-banner a {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}

.home .wm-banner a:hover {
  background: rgba(255, 255, 255, 0.8);
}

.home .wm-banner .wm-info-box {
  width: 500px;
  max-width: 100%;
  padding: 11% 0;
}

/* 
    Home - Year-round 
*/
.wm-year-round-container {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

/* 
    Home - Start Journey
*/
.wm-start-Journey-container {
  background: #f2f2f2;
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-start-Journey-container .wm-section-header {
  text-align: center;
  margin-bottom: 4%;
}

.wm-prices-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-column-gap: 20px;
  overflow-wrap: anywhere;
}

.wm-prices-container .wm-price-table {
  background: #fff;
  border-radius: 20px;
}

.wm-prices-container .wm-price-table:hover {
  box-shadow: 0 5px 20px 0px rgba(88, 42, 212, 0.15);
  transform: translateY(-1px);
}

.wm-prices-container .wm-price-table h3 {
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wm-prices-container .wm-price {
  display: block;
  background-color: #c4c4c4;
  border-radius: 20px;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.wm-prices-container .wm-price span {
  font-size: 1.6rem;
}

.wm-prices-container ul {
  list-style: disc;
  margin: 30px 50px;
}

/* 
    Home - Experience 
*/
.wm-experience-container img {
  border-radius: 20px;
}

.wm-experience-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-experience-container .wm-info-box {
  padding-right: 10%;
}

/* 
    Home - Plan 
*/
.wm-plan-container {
  background-color: #f2f2f2;
}

.wm-plan-container img {
  border-radius: 20px;
}

.wm-plan-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-plan-container .wm-info-box {
  padding-left: 10%;
}

/* 
    Home - Exclusive 
*/
.wm-exclusive-container img {
  border-radius: 20px;
}

.wm-exclusive-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-exclusive-container .wm-info-box {
  padding-right: 10%;
}

/* 
    Newsletter
*/
.wm-signup-container {
  background: #f2f2f2;
  padding: 60px 0;
}

.wm-signup-container .wm-grid-row {
  grid-template-columns: 50% auto;
}

.wm-signup-container label {
  display: none;
}

.wm-signup-container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

input:focus {
  background-color: lightblue;
}

.wm-signup-container button {
  padding: 12px 20px;
  background: #000000;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
}

.wm-signup-container button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.wm-signup-container form {
  width: 400px;
  margin-left: auto;
}

/* 
    Experiences - Banner
*/
.experiences .wm-banner {
  background: #f2f2f2;
  text-align: center;
  padding: 4% 0 5%;
}

.experiences .wm-banner p {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

/* 
    Experiences - attractions
*/
.wm-attractions-container img {
  border-radius: 20px;
}

.wm-attractions-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-attractions-container .wm-info-box {
  padding-left: 10%;
}

/* 
    Experiences - discover
*/
.wm-discover-container {
  background-color: #f2f2f2;
}

.wm-discover-container img {
  border-radius: 20px;
}

.wm-discover-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-discover-container .wm-info-box {
  padding-right: 10%;
}

/* 
    Experiences - delightful
*/
.wm-delightful-container img {
  border-radius: 20px;
}

.wm-delightful-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-delightful-container .wm-info-box {
  padding-left: 10%;
}

/* 
    Experiences - staycation
*/
.wm-staycation-container {
  background-color: #f2f2f2;
}

.wm-staycation-container img {
  border-radius: 20px;
}

.wm-staycation-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-staycation-container .wm-info-box {
  padding-right: 10%;
}

/* 
    Help - Banner
*/
.help .wm-banner {
  text-align: center;
  padding: 4% 0 5%;
}

.help .wm-banner p {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

/* 
    Help - Book
*/
.wm-book-container {
  background-color: #f2f2f2;
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-book-container .wm-grid-row {
  grid-template-columns: 450px 475px;
  grid-column-gap: 50px;
  justify-content: center;
}

.wm-book-container .wm-info-box {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
}

.wm-book-container .today-date span {
  font-weight: bold;
}

.wm-book-container .open {
  padding-top: 20px;
  padding-bottom: 10px;
}

.wm-book-container .open span {
  color: green;
}

.wm-book-container .hours-title {
  font-size: 1.5rem;
}

.wm-book-container .hours {
  font-weight: bold;
}

.ticket-available,
.ticket-soldout,
.ticket-workshops {
  margin-top: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ticket-available:before,
.ticket-soldout:before,
.ticket-workshops:before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.ticket-available:before {
  background: #589c5f;
}

.ticket-soldout:before {
  background: #d45b5b;
}

.ticket-workshops:before {
  background: #85c7ec;
}

/* 
    Help - Map
*/
.wm-map-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-map-container .wm-grid-row {
  grid-template-columns: 65% auto;
  grid-column-gap: 50px;
}

.wm-map-container iframe {
  border-radius: 20px;
  width: 100%;
}

/* 
    Help - Acccesibility
*/
.wm-acccesibility-container {
  background-color: #f2f2f2;
  padding-top: 5%;
  padding-bottom: 5%;
}

.wm-acccesibility-container .wm-grid-row {
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.wm-acccesibility-container h2 {
  margin-top: 50px;
}

.wm-acccesibility-container img {
  border-radius: 20px;
}

.wm-acccesibility-container li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.wm-acccesibility-container li img {
  margin-right: 25px;
}
/* 
    Footer
*/
footer {
  padding: 40px 0;
  border-top: 1px solid #f2f2f2;
}

footer a {
  text-decoration: none;
}

footer .wm-grid-row-3 {
  display: grid;
  grid-template-columns: 240px auto 360px;
  align-items: center;
  grid-column-gap: 20px;
  overflow-wrap: anywhere;
}

footer .social-container h2 {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.49);
  margin-bottom: 10px;
  font-weight: normal;
}

footer .social-container nav {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
}

footer .social-container ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

footer .social-container a {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-right: 10px;
}

footer .social-container li:last-child a {
  padding-right: 0;
}

footer .social-container a:hover {
  opacity: 0.8;
}

footer .copyrights-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

footer .copyrights-container > * {
  width: 100%;
}

footer .copyrights-container img {
  height: 50px;
}

footer .copyrights-container ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .copyrights-container ul a {
  padding-right: 20px;
}

footer .copyrights-container ul li:last-child a {
  padding-right: 0;
}

footer .copyrights-container ul {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .contact-container p {
  color: rgba(0, 0, 0, 0.49);
  font-size: 1.25rem;
  margin-bottom: 10px;
}

footer .contact-container a {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
}

footer .contact-container a:hover {
  background-color: rgba(242, 242, 242, 0.8);
}

@media screen and (max-width: 768px) {
  .wm-above-header-wrap .wm-grid-row {
    grid-template-columns: auto;
  }

  .wm-above-header-wrap .contact,
  .wm-above-header-wrap .tag-line {
    text-align: center;
  }

  .wm-main-header-wrap .wm-logo {
    height: 50px;
  }

  .wm-desktop-menu .wm-main-nav li {
    display: none;
  }

  .wm-mobile-menu.responsive,
  .wm-main-nav .toggle-icon {
    display: block;
  }

  .wm-mobile-menu.responsive .wm-main-nav-container {
    background: #f2f2f2;
    margin-top: -10px;
  }

  .wm-mobile-menu.responsive .wm-main-nav-container li {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
  }

  .wm-mobile-menu.responsive .wm-main-nav-container li a {
    width: 100%;
  }

  .wm-mobile-menu.responsive .wm-main-nav-container li .button {
    width: auto;
    margin-left: 1em;
  }

  .wm-experience-container,
  .wm-plan-container,
  .wm-exclusive-container,
  .wm-year-round-container,
  .wm-start-Journey-container,
  .wm-staycation-container,
  .wm-attractions-container,
  .wm-delightful-container,
  .wm-discover-container,
  .wm-book-container,
  .wm-map-container,
  .wm-acccesibility-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .wm-start-Journey-container .wm-section-header {
    margin-bottom: 30px;
  }

  .wm-experience-container .wm-grid-row,
  .wm-plan-container .wm-grid-row,
  .wm-exclusive-container .wm-grid-row,
  .wm-staycation-container .wm-grid-row,
  .wm-attractions-container .wm-grid-row,
  .wm-delightful-container .wm-grid-row,
  .wm-discover-container .wm-grid-row,
  .wm-book-container .wm-grid-row,
  .wm-map-container .wm-grid-row,
  .wm-acccesibility-container .wm-grid-row {
    grid-template-columns: auto;
  }

  .wm-acccesibility-container h2,
  .wm-acccesibility-container ul {
    margin-top: 20px;
  }

  .wm-book-container .wm-grid-row .wm-info-box {
    margin-bottom: 25px;
  }

  .wm-map-container .wm-info-box {
    order: 0;
  }

  .wm-experience-container .wm-info-box,
  .wm-exclusive-container .wm-info-box,
  .wm-discover-container .wm-info-box,
  .wm-staycation-container .wm-info-box {
    order: 2;
    padding-right: 0;
  }

  .wm-plan-container .wm-info-box,
  .wm-delightful-container .wm-info-box,
  .wm-attractions-container .wm-info-box {
    padding-left: 0;
  }

  .wm-signup-container .wm-grid-row {
    grid-template-columns: auto;
  }

  .wm-signup-container {
    padding: 30px 0 40px;
  }

  .wm-signup-container form {
    margin-right: auto;
    margin-top: 30px;
  }

  .wm-prices-container {
    grid-template-columns: auto;
  }

  .wm-prices-container .wm-price-table {
    margin-bottom: 25px;
  }

  .experiences .wm-banner,
  .help .wm-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .experiences .wm-banner h1,
  .help .wm-banner h1 {
    font-size: 3rem;
  }

  footer .wm-grid-row-3 {
    grid-template-columns: auto;
    grid-row-gap: 30px;
  }

  .copyrights-container {
    order: 3;
  }
}
